#size-slider,
#brightness-slider {
  -webkit-appearance: none;
}
#size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  background: #0a5598;
  width: var(--thumb-size);
  height: var(--thumb-size);
}

#brightness-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: #c1011a;
  opacity: var(--thumb-opacity, 1);
}
